.table-predictions {
  
  thead {
    border: 1px solid #000;

    th {
      padding: 6px 24px;
      border: 1px solid #000;
    }
  }

  td {
    padding: 12px;
    background: #3d3c3c;
    color: #bdbaba;
    border-radius: 5px;
    text-transform: capitalize;
  }
}

.predictions {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-top: 25px;

  h2 {
   
    span {
      color: #7668d2;
    }
  }
}